<% 
  responded = survey.response_from?(User.current)
  view_results = User.current.allowed_to?(:view_surveys_results, @project)
  disabled = !survey.is_valid?()
%> 
<div class="contextual">
    <small>created by <%= survey.user.name %> on <%= survey.created_at.to_date %></small>
    <%= link_to_if_authorized(l(:button_edit), {:action => 'edit', :id => survey}, :class => 'icon icon-edit')  %>
    <%= link_to_if_authorized(l(:button_delete), {:action => 'destroy', :id => survey}, :method => :post, :confirm => "Are you sure to delete this Survey?\nThis cannot be undone!", :class => 'icon icon-del') %>
    <%= link_to_if(view_results, 'Results', '#', :class => 'icon icon-comment',  
      :onclick => "Element.toggle('#{dom_id(survey, :results)}'); Element.toggle('#{dom_id(survey)}'); return false;") {} %>    
    <%= link_to_if_authorized('Download', {:action => 'download', :id => survey},  :class => 'icon icon-file text-plain') %>    
</div>

<h2><%= survey.subject %></h2>

<div class="wiki">
<%= textilizable(survey.content) %>
</div>

<div>
<a name="<%=survey.id%>"></a> 
<% if (view_results) %>
<div id='<%=dom_id(survey, :results)%>' style='display:none;'>
  <%= render :partial => 'surveys/result', :locals => { :survey => survey } %>
</div>
<% end %>

<div id="<%=dom_id(survey)%>" style="display:block;">
<% form_for :response, survey, :url => {:controller => 'surveys', :action => 'respond', :id => survey } do |f| %>
    <table width=90%>
    <% survey.answers.each do |answer| %>
      <tr><td style='text-align:left; width:3%'>
      <%= survey.multiple_choice ? 
        (check_box_tag 'response[]', answer.id, answer.responses.exists?(:user_id => User.current.id), { :disabled => disabled }) : 
        (radio_button_tag 'response', answer.id, answer.responses.exists?(:user_id => User.current.id), { :disabled => disabled }) %>
      </td><td style='text-align:left; width:98%'>
      <%= textilizable(answer.content) %>
      </td></tr>
    <% end %>
    <% if survey.allow_comment %>
    <tr><td colspan=2><%= textilizable(survey.comment_hint) %></td></tr>
    <tr><td colspan=2><%= text_area_tag :comment, survey.response_comments.find_by_user_id(User.current.id).try(:content), :rows => 4, :style => 'width:100%', :disabled => disabled %></td></tr>
    <% end %>
    </table>
    <p>
    <% unless disabled %>        
       <%= submit_tag responded ? 'Save again' : 'Save'%>
       <span style="color: red;"><%= responded ? ' You can change your answer. But after changes press the button again.' : ' Please save your answer by pressing &lt;Save&gt;.' %></span>
    <% end %>
    </div>
        
   <% end %>
  </div>
<hr/>